RestApiDemo/src/main/java/AlienSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AlienSchema" xmlns:tns="http://www.example.org/AlienSchema" elementFormDefault="qualified">
 <complexType name="product">
      <sequence>
        <element name="name" type="string"/>
        <element name="points" type="int"/>
      </sequence>
    </complexType>
</schema>